<!DOCTYPE html>
<html lang="en">
<head>
  <title>Log Masuk</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
  <link rel="icon" type="image/png" href="images/skse.png"/>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor-login/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="fonts-login/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="fonts-login/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor-login/animate/animate.css">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="vendor-login/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor-login/animsition/css/animsition.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor-login/select2/select2.min.css">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="vendor-login/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="css-login/util.css">
  <link rel="stylesheet" type="text/css" href="css-login/main.css">
<!--===============================================================================================-->
</head>
<body>
  
  <div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-02.jpg');">
      <div class="wrap-login100">
        <form class="login100-form validate-form"  action="/keseluruhanProgresTugasan" method="POST">
          <span class="login100-form-logo">
            <img src="images/skse.png" alt="logo SKSE" style="width:100px; height: 100px;">
          </span>

          <span class="login100-form-title p-b-34 p-t-27">
            Log Masuk
          </span>

          <div class="wrap-input100 validate-input" data-validate = "Masukkan nama pengguna">
            <input class="input100" type="text" name="username" placeholder="nama pengguna" autocomplete="off">
            <span class="focus-input100" data-placeholder="&#xf207;"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Masukkan Kata Laluan">
            <input class="input100" type="password" name="password" placeholder="kata laluan">
            <span class="focus-input100" data-placeholder="&#xf191;"></span>
          </div>


          <div class="container-login100-form-btn">
            <button class="login100-form-btn">
              Daftar Masuk
            </button>
          </div>

          
        </form>
      </div>
    </div>
  </div>
  

  <div id="dropDownSelect1"></div>
  
<!--===============================================================================================-->
  <script src="vendor-login/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
  <script src="vendor-login/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
  <script src="vendor-login/bootstrap/js/popper.js"></script>
  <script src="vendor-login/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
  <script src="vendor-login/select2/select2.min.js"></script>
<!--===============================================================================================-->
  <script src="vendor-login/daterangepicker/moment.min.js"></script>
  <script src="vendor-login/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
  <script src="vendor-login/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
  <script src="js-login/main.js"></script>

</body>
</html>